extends emaillayout

block content
  .jumbotron
    h3 Customer Email
    ul
      li 
        strong Customer:  
        text #{name}
      li 
        strong Customer Email:  
        text #{useremail}
      li 
        strong Customer Phone:  
        text #{phone}
      li 
        strong Subject:  
        text #{subject}
      li 
        strong Message:  
        text #{message}