extends ../layout
block content
  .row
    h1.page-header Account Administration
  if (message || notactivated || resetpassword) 
    include ../feedback
  .row
    #accountcontainer.dashcontainer.col-lg-5
      .padform
        form.form-horizontal(role="form", method="POST", action="/users/update", id="accountform" novalidate)
          div.form-group
            h4.sub-header.section-header Edit Account
          div.form-group
            label(for="user_name") Username:
            input.form-control(type="text", id="user_name",value="#{user.user_name}", name="user_name", minlength="6", maxlength="20" required)
            p.help-block
          div.form-group
            label(for="username") First Name:
            input.form-control(type="text", id="first_name",value="#{user.first_name}", name="first_name", minlength="1", maxlength="20" required)
            p.help-block
          div.form-group
            label(for="username") Last Name:
            input.form-control(type="text", id="last_name",value="#{user.last_name}", name="last_name", minlength="1", maxlength="45" required)
            p.help-block
          div.form-group
            label(for="username") Email Address:
            input.form-control(type="email", id="email",value="#{user.email}", name="email" required)
            p.help-block
          div.form-group
            label(for="username") Phone:  
              span.badge Format: 123-123-1234
            input.form-control(type="tel", id="username",value="#{user.phone}", name="phone" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
            data-validation-pattern-message="Please enter a valid telephone format")
            p.help-block
          div.form-group
            label(for="password") Confirm Password:
            input.form-control(type="password", id="password",placeholder="Confirm Password", name="password" required)
            p.help-block
          div.form-group
            button.btn.btn-primary(type="submit") Update

    #changepasscontainer.dashcontainer.col-lg-5.col-lg-offset-1
      .padform      
        form.form-horizontal(method="POST", action="/users/changepass", id="changepassform" novalidate)
          div.form-group
            h4.sub-header.section-header Change Password
          div.form-group
            label(for="username") Old Password:
            input.form-control(type="password", id="oldpassword",value="", name="oldpassword", placeholder="Old Password", minlength="6", maxlength="20" required)
            p.help-block
          div.form-group
            label(for="password") New Password:
            input.form-control(type="password", id="password",value="", name="password", placeholder="New Password", minlength="6", maxlength="20" required)
            p.help-block
          div.form-group
            label(for="password2") Confirm New Password:
            input.form-control(type="password", id="password2",placeholder="Confirm Password", name="password2", minlength="6", maxlength="20" data-validation-match-match="password"
            data-validation-match-message="Passwords do not match" required)
            p.help-block
          div.form-group
            button.btn.btn-primary(type="submit") Update

block scripts
  script(src='/scripts/alertify.min.js')
  script(src='/scripts/jqBootstrapValidation.js')
  script(src='/scripts/scripts.js')
  script(src='/scripts/page/accountadmin.js')